.git
.gitignore
.dockerignore
Dockerfile*
**/.env
**/.env.*
**/bin
**/obj
**/.vs
**/.vscode
**/.idea
**/*.user
**/*.suo
**/*.md
**/README*
**/LICENSE*
**/.DS_Store
**/._*
**/Properties/launchSettings.json
